*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

*.mid

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.idea
*.iml
*.dot
src/parser/Music.tokens
src/parser/MusicLexer.java
src/parser/MusicParser.java